<h1 class="p-1">About</h1>

<div class="my-1">
  <p class="p-1">Idee Place is a sharing idee web app, where you can add, search and star ideas.</p>

  <p class="p-1">Everything is public here. However, you need an account to add and star ideas.</p>

  <p class="p-1">The ideas search box allow you to search by title terms (e.g. "Beautiful"), by tags (e.g. "#computing") and by authors (e.g. "@alice"). So, if you want to search about beautiful ideas by Alice about computing, search writing "@alice #computing Beautiful".</p>

  <p class="p-1">Happy sharing 😙</p>
</div>
