<h1>Edit Idea</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.idea_path(@conn, :update, @idea)) %>

<span><%= link "Delete", to: Routes.idea_path(@conn, :delete, @idea), method: :delete, data: [confirm: "Are you sure?"] %></span>
