<div class="flex justify-between">
  <h1>Show Idea</h1>
  <%= if is_current_user(@conn, @idea.author) do %>
    <div>
      <span><%= link "Edit", to: Routes.idea_path(@conn, :edit, @idea) %></span>
    </div>
  <% end %>
</div>

<ul>
  <li>
    <strong>Title:</strong>
    <%= @idea.title %>
  </li>
  <li>
    <strong>Topics:</strong>
    <%= for topic <- @idea.topics do %>
      <%= topic.name %>
    <% end %>
  </li>
  <li>
    <strong>Description:</strong>
    <%= @idea.description %>
  </li>
</ul>
