<h1>Listing Ideas</h1>

<form id="ideas-search" phx-submit="search">
  <%= text_input :search, :query,
      value: @query,
      placeholder: "Search...",
      autofocus: true %>
  <%= submit "Search", phx_disable_with: "Searching..." %>
</form>

<%= if Enum.empty?(@ideas) do %>
  <%= if @query == "" do %>
    <div>No ideas yet.</div>
  <% else %>
    <div>The query does not match any ideas.</div>
  <% end %>
<% else %>
  <table>
    <thead>
      <tr>
        <th>Author</th>
        <th>Title</th>
      </tr>
    </thead>
    <tbody>
      <%= for idea <- @ideas do %>
        <tr>
          <td><%= idea.author.name %></td>
          <td>
            <a href="<%= Routes.idea_path(@socket, :show, idea) %>" style="display: block;">
              <div><%= idea.title %></div>
            </a>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
