<div class="flex justify-between">
  <h1>Show Idea</h1>
  <div>
    <%= if @current_user == @idea.author do %>
      <span><%= link "Edit", to: Routes.idea_path(@socket, :edit, @idea) %></span>
    <% end %>
    <%= if @current_user do %>
      <%= if @idea_is_starred do %>
        <span>
          <button phx-click="unstar_idea">
            <img src=<%= Routes.static_path(@socket, "/assets/icons/starred.png") %>/>
          </button>
        </span>
      <% else %>
        <span>
          <button phx-click="star_idea">
            <img src=<%= Routes.static_path(@socket, "/assets/icons/unstarred.png") %>/>
          </button>
        </span>
      <% end %>
    <% end %>
  </div>
</div>

<ul>
  <li>
    <strong>Title:</strong>
    <%= @idea.title %>
  </li>
  <li>
    <strong>Topics:</strong>
    <%= for topic <- @idea.topics do %>
      <%= topic.name %>
    <% end %>
  </li>
  <li>
    <strong>Description:</strong>
    <%= @idea.description %>
  </li>
</ul>
